* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

button{
  padding: 14px;
  background: rgb(181, 233, 122);
  font-size: large;
  font-weight: 700;
  border-radius: 10px;
  border: 1px solid rgba(87, 219, 69);
}

input {
  width: 200px;
  height: 50px;
  text-align: center;
  color: #212121;
  font-size: large;
  font-weight: 700;
  border-radius: 5px;
}

.timer{
  padding: 10px 20px;
  color: #212121;
  font-size: large;
  font-weight: 500;
}
